name: Mi primer CI

on:
  push:
    branches: [master]

jobs:
  node-ci:
    runs-on: ubuntu-latest

    steps:
      - name: Clonar repo
        uses: actions/checkout@v4

      - name: Instalar Node
        uses: action/setup@nodev4
        with:
          node-version: 18

      - name: Instalar dependencias
        run: npm install

      - name: Correr tests
        run: npm test
