name: React Native CI

on:
  push:
    branches: [master]
  pull_request:

jobs:
  js-ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Lint
        run: npm run lint || echo "No lint script yet"

      - name: Run tests
        run: npm test
